<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hobbies</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body>
  <header class="nav-bar">
    <div class="nav-content">
      <a href="/">
        <div class="nav-logo">
          <img src="./static/img/pfp.jpg" />
        </div>
      </a>
      <nav class="nav-links">
        <a href="/">Home</a>
        <a href="/hobbies">Hobbies</a>
      </nav>
    </div>
  </header>
  <div class="container">
    <h1>Hobbies</h1>
    <section class="hobbies">
      <ul>
        <li>Urban Photography</li>
        <li>Board Game Design</li>
      </ul>
      <a href="{{ url_for('index') }}">Back to Home</a>
    </section>