<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/pfp.jpg" />
                </div>
            </a>
            <nav class="nav-links">
                <a href="/">Home</a>
                <a href="/hobbies">Hobbies</a>
            </nav>
        </div>
    </header>

    <section class="about-me">
        <h2>About Me</h2>
        <p>
            UPDATE 2: Former math teacher with a passion for software development seeking to make a difference. Creating
            technologies to empower the public.
        </p>
    </section>

    <section class="professional-experience">
        <h2>Professional Experience</h2>
        {% for job in work_experiences %}
        <div class="job">
            <h3>{{ job.title }}</h3>
            <span class="job-date">{{ job.date }}</span>
            <span class="job-company">{{ job.company }}</span>
            <ul>
                {% for bullet in job.bullets %}
                <li>{{ bullet }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </section>

    <section class="education">
        <h2>Education</h2>
        {% for edu in educations %}
        <div class="degree">
            <h3>{{ edu.degree }}</h3>
            <span class="degree-date">{{ edu.date }}</span>
            <span class="degree-school">{{ edu.school }}</span>
        </div>
        {% endfor %}
    </section>

    <section class="hobbies">
        <h2>Hobbies</h2>
        <ul>
            {% for hobby in hobbies %}
            <li>{{ hobby }}</li>
            {% endfor %}
        </ul>
    </section>

    <section class="places-traveled">
        <h2>Places I've Traveled To</h2>
        <img src="/static/img/places.png" alt="places" class="places-image" />
        <ul class="places-list">
            <li>Mexico</li>
            <li>Puerto Rico</li>
            <li>Dominican Republic</li>
            <li>Costa Rica</li>
            <li>Florida</li>
        </ul>
    </section>


</body>

</html>