<ul class="work-experience-list">
  {% for job in work_experiences %}
  <li class="job">
    <h3>{{ job.title }}</h3>
    <span class="job-date">{{ job.date }}</span>
    <span class="job-company">{{ job.company }}</span>
    <ul>
      {% for bullet in job.bullets %}
      <li>{{ bullet }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

<ul class="education-list">
  {% for edu in educations %}
  <li class="degree">
    <h3>{{ edu.degree }}</h3>
    <span class="degree-date">{{ edu.date }}</span>
    <span class="degree-school">{{ edu.school }}</span>
  </li>
  {% endfor %}
</ul>

<ul class="hobbies-list">
  {% for hobby in hobbies %}
  <li>{{ hobby }}</li>
  {% endfor %}
</ul>